
*{
    margin: 0;
    padding: 0;
}

/* banner sectio */

.banner-img{
    width: 635px;
    height: 800px;
    
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 0px 150px;
}

.banner-text{
    max-width: 634px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}

/* main section style */

/* featured-section-style */

.featured-section-container{
    padding: 178px;
}


.section-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.section-description{
    padding: 30px 250px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
    
    
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.featured-container{
    max-width: 1440px;
}
.featured{
    display: flex;
    gap: 24px;
    justify-content: center;
    }

.featured-img{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    
}
#flower-box-1{
    
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
#flower-box-2{
    
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
#flower-box-3{
    
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}

.special-features{
    max-width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}



/* discount section style */
.discount-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content:center;
    align-items: center;
}

.discount-text{
    display: inline-block;
}

.btn-discount{
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}
.text-primary{
    color:#E55473 ;
}

/* instagram section style */
.insta-img-container{
    display: flex;

}
.insta-img{
    flex: 33.33%;
  padding: 5px;

}


.rectangle-subscripe-section{
    width: 1440px;
height: 449px;
border-radius: 8px;
background: url("./Flower\ Asset/.rectangle-email-section"), lightgray 0px -203.444px / 100% 213.755% no-repeat;
margin: 130px 240px 130px 240px;

position: relative;
  text-align: center;
  
  color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.subscription-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
}
#email-measurement{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
padding-left: 15px;
margin-bottom: 5px;
}

/* footer section style */
footer{
    width: 1922px;
height: 449px;
background: #111010;
}


#footer-heading{
    color: white;
    font-size: 48px;
    font-weight: 800;
}
#footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
.footer-text-container{
     top: 50%;
    left: 50%;
    text-align: center;
    padding-top: 90px;

}
#copyright{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




    